body{
    margin:0px;
    border:0px;
    padding:0px;
}

.banner {
    display:flex;
    width:100%;
    justify-content:center;
    align-content:center;
    align-items:center;
    height:150px;
    font-size:3rem;
    background-color:lightgrey;
}




/* pop up form */
.form1{
    visibility:visible;
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-325px; 
    margin-left:-250px;
    width:500px;
    height:650px;
    background-color:grey;
}











